
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<div ng-app="EventSchedulerApp" >
    <legend>My Events</legend>
    {{currentUserId}}
    <div ng-controller="MyEventsController" class="table-responsive">


        <table  class="table table-striped">
            <thead>
            <tr>
                <th>
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                    Event Name
                </th>
                <th>
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                    Action
                </th>
            </tr>
            <tr>
                <th>
                    <input ng-model="event.title" type="text" class="form-control">
                </th>
                <th>
                    <span ng-click="addEvent(event)" class="glyphicon glyphicon-plus btn btn-default" aria-hidden="true"></span>
                    <span ng-click="updateEvent(event)" class="glyphicon glyphicon-ok btn btn-success " aria-hidden="true"></span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr  ng-repeat="event in events">
                <td>{{event.title}}</td>
                <td>
                    <span ng-click="deleteEvent($index)" class="glyphicon glyphicon-remove btn btn-danger" aria-hidden="true"></span>
                    <span ng-click="selectEvent($index)" class="glyphicon glyphicon-pencil btn btn-success " aria-hidden="true"></span>
                </td>

            </tr>

            </tbody>
        </table>
    </div>
</div>