    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin</h1>


            <h2 class="sub-header">Users</h2>
            <div class="table-responsive">
                <table ng-controller="user.service.client.js" class="table table-striped">
                    <thead>
                    <tr>

                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>

                            Username
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>

                            Password
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>

                            Role
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            Action
                        </th>
                    </tr>
                    <tr>
                        <th><input ng-modal="user.username" class="form-control"/></th>
                        <th><input ng-modal="user.password" class="form-control"/></th>
                        <th><input ng-modal="user.role" class="form-control"/></th>
                        <th>
                            <span ng-click="createUser(user)" class="glyphicon glyphicon-plus btn btn-default" aria-hidden="true"></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in currentUser">
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.role}}</td>
                        <td>
                            <span class="glyphicon glyphicon-plus btn btn-default" aria-hidden="true"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-ok btn btn-success" aria-hidden="true"></span></a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>


