




        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin</h1>


            <h2 class="sub-header">Users</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>

                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            Username
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            Password
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            Role
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" class="form-control"  placeholder="Username"></td>
                        <td><input type="password" class="form-control"  placeholder="Password"></td>
                        <td><input type="text" class="form-control"  placeholder="Role1, Role2"></td>
                        <td>
                            <a href="#"><span class="glyphicon glyphicon-plus btn btn-default" aria-hidden="true"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-ok btn btn-success" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Alice</td>
                        <td></td>
                        <td>Student</td>
                        <td>
                            <a href="#"><span class="glyphicon glyphicon-remove btn btn-danger" aria-hidden="true"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-pencil btn btn-warning" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Bob</td>
                        <td></td>
                        <td>Faculty | Admin</td>
                        <td>
                            <a href="#"><span class="glyphicon glyphicon-remove btn btn-danger" aria-hidden="true"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-pencil btn btn-warning" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Charlie</td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="#"><span class="glyphicon glyphicon-remove btn btn-danger" aria-hidden="true"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-pencil btn btn-warning" aria-hidden="true"></span></a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>


