<nav id="nav1" class="navbar navbar-default" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home" style="font-family: fantasy;font-size: 25px"><strong>Just In Time</strong></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">

                <li ng-style="aboutStyle">
                    <a href="#/about">
                        About
                    </a>
                </li>

                <li ng-hide="currentUser">
                    <a data-toggle="modal" data-target="#dialog" href="#/login">
                    <span class="glyphicon glyphicon-log-in" style="font-size: 15px" aria-hidden="true"></span>
                    &nbsp;
                        Sign Up | Login
                    </a>
                </li>

                <li ng-show="currentUser" ng-class="{'active': $location.url()=='/event'">
                    <a href="#/event">
                        My Events
                    </a>
                </li>

                <li ng-show="currentUser" ng-class="{'active': $location.url()=='/event'">
                    <a href="#/event">
                        Schedule an Event
                    </a>
                </li>

                <li ng-show="currentUser" ng-class="{'active': $location.url()=='/profile'">
                    <a href="#/profile">
                        {{currentUser.name}}
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
