
<legend>Date Proposal</legend>
<div style="font-size: medium">

    <strong style="color: #428bca">Event</strong> &nbsp;<span class="glyphicon glyphicon-triangle-right" style="font-size: 13px" aria-hidden="true"></span>
    <strong style="color: #428bca">Date Proposal</strong> &nbsp;<span class="glyphicon glyphicon-triangle-right" style="font-size: 13px" aria-hidden="true"></span>
    Time Proposal &nbsp;<span class="glyphicon glyphicon-triangle-right" style="font-size: 13px" aria-hidden="true"></span>
    Settings &nbsp;<span class="glyphicon glyphicon-triangle-right" style="font-size: 13px" aria-hidden="true"></span>
    Invite
    <br>
    <br>
</div>

<div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
        <button ng-click="$location.url('/event')" type="reset" class="btn btn-default">Back</button>
        <button ng-click="$location.url('/timeProposal')" type="submit" class="btn btn-primary">Next</button>
    </div>
</div>