<div class="register-login-form container">
    <h2>Thanks, "username",</h2><br>
    <h3>Your poll has been created.</h3><br>
    The following two links have been sent to "email" in one e-mail each.<br>
    <a href="#">If you do not receive the e-mails...</a><br><br>


    <div>
        <h4>Participation Link</h4>
        Send this to anyone you wish to invite &nbsp;<button class="btn btn-default">Copy link </button><br>
        <a href="#">url1</a><br>

        Invite by e-mail&nbsp;<span class="glyphicon glyphicon-envelope btn btn-default "></span>
        <br><br>

    </div>

    <div>
        <h4>Administration link</h4>
        Access this link to change, close or delete this poll<br>
        <a href="#">url2</a>
    </div>
</div>