.register-login-form {
    background-color: lightsteelblue;
    border-radius: 8px;
    color: midnightblue;
    max-width: 750px;
    margin: auto;
    min-height: 400px;
    padding: 30px;
}

.background-img{
    background: url(Calendar-600.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.time-input{
    height: 25px;
}