.register-login-form {

}

.background-img{
    background: url(Calendar-600.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.time-input{
    height: 25px;
}