<div>
                    <h1>{{model.event.title}}</h1>
                    Poll hosted by {{model.event.name}}<br>
                    Where : {{model.event.address}}
<br>
    <div ng-show="model.errormessage" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{model.errormessage}}
    </div>
    <div ng-show="model.successMessage" class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        {{model.successMessage}}
    </div>

<div ng-hide="model.hiddenPoll" class="table-responsive">
    <table class="table" style="font-size: medium; table-border-color-dark: white">
        <thead style="color: darkorange">
        <tr>
            <th>
                Date
            </th>
            <th>
               <table style="font-size: medium">
                   <tr>
                       <th style="width: 100px"> Time </th>
                       <th style="width: 100px"> Participants</th>
                   </tr>
               </table>
            </th>

        </tr>
        </thead>
        <tbody>
        <tr  ng-repeat="d in model.event.schedule">
            <td style="width: 200px">
                {{d.date | date:'fullDate'}}
            </td>
            <td >
             <table style="font-size: medium">
                <tbody>
                 <tr ng-repeat="t in d.times track by $index">
                     <td style="min-width:100px;width: 100px">
                         {{t.time | date:'HH:mm:ss'}}
                     </td>
                     <td style="min-width: 100px;width: 100px" ng-repeat="p in t.participants track by $index">
                         {{p}}
                     </td>
                 </tr>
                 </tbody>
             </table>
            </td>
        </tr>

        </tbody>
    </table>
</div>

    <br>
    <br>
    <div ng-show="model.dates.length==0 && !model.closePoll" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        No more available dates!
    </div>
    <div ng-show="model.closePoll" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{model.pollmessage}}
    </div>
    <div ng-hide="model.closePoll || model.dates.length==0">
    <div class="row">
        <div class="col-md-4">
            Enter Name:
        <input type="text" class="form-control" style="width: 250px" ng-model="model.newParticipant" placeholder="Your Name..">
            </div>

        <div class="col-md-4">
            Available Dates:
        <select ng-model="model.dateOption" ng-change="model.dateSelected(model.dateOption)"class="form-control" style="width: 250px">
            <option ng-repeat="d in model.dates track by $index">{{d | date : 'fullDate'}}</option>
        </select>
            </div>
        <div class="col-md-4" ng-show="model.times.length>0">
            Available Times:
        <select ng-model="model.timeOption" class="form-control" style="width: 250px">
            <option ng-repeat="d in model.times track by $index">{{d}}</option>
        </select>
        </div>
    </div>
    <br>
            <div class="col-lg-10 col-lg-offset-2">
                <button ng-click="model.cannot(model.newParticipant)" type="reset" class="btn btn-default">Cannot make it</button>
                <button ng-click="model.error(model.newParticipant, model.dateOption,model.timeOption)" data-dismiss="modal" data-target="#myModal2" type="submit" class="btn btn-primary">
                    Save</button>
            </div>
</div>
    </div>
        </div>

<div id="myModal2" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Save changes</h4>
            </div>
            <div class="modal-body">
                <p>Response cannot be changed once saved.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="model.save(model.newParticipant, model.dateOption, model.timeOption)" class="btn btn-primary" data-dismiss="modal" >Save changes</button>
            </div>
        </div>
    </div>
</div>
