<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<div class="register-login-form">
                    <h1>{{model.event.title}}</h1>
                    Poll hosted by {{model.event.name}}<br>
                    Where : {{model.event.address}}
                    <table class="table table-bordered" style="text-align: center">
                        le>
                        <thead >

                        <th>
                        <tr>
                            <th ng-repeat=" d in model.event.schedule">
                                {{d.date | date : 'fullDate'}}

                                    <th ng-repeat=" t in model.event.schedule">

                                        {{t.times | date : 'HH:mm:ss'}}

                                    </th>
</tr>
                            </th>


                        </thead>
                        <tbody>
                        <tr class="danger">
                            <td>
                                AAA1
                            </td>
                            <td>
                                AAA2
                            </td>
                            <td>
                                AAA3
                            </td>
                        </tr>
                        <tr class="danger">
                            <td>
                                AAA1
                            </td>
                            <td>
                                AAA2
                            </td>
                            <td>
                                AAA3
                            </td>
                        </tr>
                        <tr>
                            <td class="danger">
                                AAA1
                            </td>
                            <td class="success">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </td>
                            <td class="danger">
                                AAA3
                            </td>
                        </tr>
                        </tbody>
                    </table>
        </div>
