<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header"> Admin </h1>
    <h2 class="sub-header">Users</h2><br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th> <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Username </th>
            <th> <span  aria-hidden="true"></span> Password </th>
            <th> <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> First Name </th>
            <th> <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Last Name </th>
            <th> <span  aria-hidden="true"></span> Role </th>
            <th> <span  aria-hidden="true"></span> Action </th>
        </tr>
        <tr>
            <th> <input ng-model="model.user.username" type="text" class="form-control" placeholder="Username"> </th>
            <th> <input ng-model="model.user.password" type="password" class="form-control" placeholder="Password"> </th>
            <th> <input ng-model="model.user.firstName" type="text" class="form-control" placeholder="First Name"> </th>
            <th> <input ng-model="model.user.lastName" type="text" class="form-control" placeholder="Last Name"> </th>
            <th> <input ng-model="model.user.roles" type="text" class="form-control" placeholder="Role1, Role2"> </th>
             <th> <span ng-click="model.add(model.user)" class="glyphicon glyphicon-plus btn btn-success" aria-hidden="true"></span>
            <span ng-click="model.update(model.user)" class="glyphicon glyphicon-ok btn btn-primary"  aria-hidden="true"></span>
        </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat = "user in model.users">
            <td> {{user.username}}</td>
            <td> {{user.password}}</td>
            <td> {{user.firstName}}</td>
            <td> {{user.lastName}}</td>
            <td> {{user.roles}}</td>
            <td> <span ng-click="model.remove(user, $index)" class="glyphicon glyphicon-remove btn btn-danger" ></span>&nbsp; &nbsp;
                <span ng-click="model.select(user)" class="glyphicon glyphicon-pencil btn btn-primary" ></span></td>
        </tr>
        </tbody>
    </table>

</div>
