<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header"> Admin </h1>
    <h2 class="sub-header">Users</h2><br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th> <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> Username </th>
            <th> <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> Password </th>
            <th> <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> Role </th>
            <th> <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> Action </th>
        </tr>
        <tr>
            <th> <input type="text" class="form-control" placeholder="Username"> </th>
            <th> <input type="password" class="form-control" placeholder="Password"> </th>
            <th> <input type="text" class="form-control" placeholder="Role1, Role2"> </th>
            <th> <a href="#"><span class="glyphicon glyphicon-plus btn-success" ></span></a>&nbsp; &nbsp;
                <a href="#"><span class="glyphicon glyphicon-ok btn-default" ></span></a> </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> Alice</td>
            <td> </td>
            <td> Student</td>
            <td><a href="#"> <span class="glyphicon glyphicon-remove btn-danger" ></span></a>&nbsp; &nbsp;
                <a href="#"><span class="glyphicon glyphicon-pencil btn-primary" ></span></a> </td>
        </tr>
        <tr>
            <td> Bob</td>
            <td> </td>
            <td> Faculty | Admin </td>
            <td> <a href="#"> <span class="glyphicon glyphicon-remove" style="font-size: 25px; color: #d9534f" aria-hidden="true"></span></a>&nbsp; &nbsp;
                <a href="#"><span class="glyphicon glyphicon-pencil" style="font-size: 25px" aria-hidden="true"></span></a></td>
        </tr>
        <tr>
            <td> Charlie</td>
            <td> </td>
            <td> </td>
            <td><a href="#"> <span class="glyphicon glyphicon-remove" style="font-size: 25px; color: #d9534f" aria-hidden="true"></span></a>&nbsp; &nbsp;
                <a href="#"><span class="glyphicon glyphicon-pencil" style="font-size: 25px" aria-hidden="true"></span></a> </td>
        </tr>
        </tbody>
    </table>

</div>
