<div>
    <div class="register-login-form">
        <div style="font-size: large">

            <strong style="color: darkorange">Event</strong> &nbsp;<span class="glyphicon glyphicon-triangle-right" style="font-size: 13px" aria-hidden="true"></span>
            <strong style="color: darkorange">Date Proposal</strong> &nbsp;<span class="glyphicon glyphicon-triangle-right" style="font-size: 13px" aria-hidden="true"></span>
            Time Proposal &nbsp;<span class="glyphicon glyphicon-triangle-right" style="font-size: 13px" aria-hidden="true"></span>
            Settings &nbsp;<span class="glyphicon glyphicon-triangle-right" style="font-size: 13px" aria-hidden="true"></span>
            Invite
            <br>
            <br>
        </div>
        <div ng-show="app.errormessage" class="alert alert-danger" role="alert">{{app.errormessage}}</div>
        <div class="table-responsive">
        <table>
            <tr>
                <td>
                    <uib-datepicker ng-model='app.activeDate' multi-select='selectedDates' select-range='{{app.type=="range"}}'></uib-datepicker>
                </td>
                <td style='width:50px'>
                </td>
                <td>
                    <div ng-show="selectedDates.length>0" style="font-size: medium">
                        <strong style="color: darkorange">Selected Dates:</strong>
                        <div>
                            <div ng-repeat='d in selectedDates | orderBy:identity:false'>
                                <a><span ng-click='app.removeFromSelected(d)' style="color: #8f8f8f" class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                {{d | date : 'fullDate'}}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        </div>
        <br>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button ng-click="$location.url('/event')" type="reset" class="btn btn-default">Back</button>
                <button ng-click="app.updateDate()" type="submit" class="btn btn-primary">Next</button>
            </div>
        </div>
    </div>
</div>