<div class="register-login-form container">
    <h2>Thanks,</h2><br>
    <h3>Your poll has been created.</h3><br>

    <div>
        <h4>Participation Link</h4>
        Send this to anyone you wish to invite<br>
        <a href="#/event/{{currentEvent._id}}/poll">{{inviteurl}}</a><br>

    </div>
    <br>
    <br>
    <div>
        <h4>Administration link</h4>
        Access this link to change, close or delete this poll<br>
        <a href="#/event/{{currentEvent._id}}/{{currentEvent.adminId}}/admin-table">{{adminurl}}</a>
    </div>
</div>