<div>
    <div class="container-fluid">
        <div ng-show="errormessage" class="alert alert-danger" role="alert">{{errormessage}}</div>
        <div style="font-size: large">

            <strong style="color: darkorange">Event</strong> &nbsp;<span class="glyphicon glyphicon-triangle-right" style="font-size: 13px" aria-hidden="true"></span>
            <strong style="color: darkorange">Date Proposal</strong> &nbsp;<span class="glyphicon glyphicon-triangle-right" style="font-size: 13px" aria-hidden="true"></span>
            <strong style="color: darkorange">Time Proposal &nbsp;</strong><span class="glyphicon glyphicon-triangle-right" style="font-size: 13px" aria-hidden="true"></span>
            Settings<span class="glyphicon glyphicon-triangle-right" style="font-size: 13px" aria-hidden="true"></span>
            Invite
            <br>
            <br>
        </div>
        <div ng-show="model.errormessage" class="alert alert-danger" role="alert">{{model.errormessage}}</div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <th></th>
                <th>Time Slots:</th>
                </thead>
                <tbody>
                <tr ng-repeat="d in event.schedule| orderBy:'date':false">
                    <div>

                    <td style="font-size: medium">
                        <strong>{{d.date | date : 'fullDate'}}</strong>
                    </td>
                    <td  ng-repeat="t in d.times">
                    <!--    {{t.time}}
                        <input id="t.time" ng-model="t.time" ng-change="model.change(t.time,d.date,$index)" class ="time-input" type="text"  class="form-control">
                    -->
                        <select ng-model="t.time" ng-change="model.change(t.time,d.date,$index)"class="form-control" style="width: 100px">
                            <option ng-repeat="t1 in model.alltimes">{{t1}}</option>
                        </select>
                    </td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
        <a href="" ng-click="model.addSlots()">Add time slot for all dates</a>
        <br>
        <br>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button ng-click="$location.url('/dateProposal')" type="reset" class="btn btn-default">Back</button>
                <button ng-click='model.update(model.event)' type="submit" class="btn btn-primary">Next</button>
            </div>
        </div>

    </div>
</div>