<div>
    <div class="register-login-form">
        <div ng-show="errormessage" class="alert alert-danger" role="alert">{{errormessage}}</div>
        <div style="font-size: large">

            <strong style="color: #428bca">Event</strong> &nbsp;<span class="glyphicon glyphicon-triangle-right" style="font-size: 13px" aria-hidden="true"></span>
            <strong style="color: #428bca">Date Proposal</strong> &nbsp;<span class="glyphicon glyphicon-triangle-right" style="font-size: 13px" aria-hidden="true"></span>
            <strong style="color: #428bca">Time Proposal &nbsp;</strong><span class="glyphicon glyphicon-triangle-right" style="font-size: 13px" aria-hidden="true"></span>
            Settings<span class="glyphicon glyphicon-triangle-right" style="font-size: 13px" aria-hidden="true"></span>
            Invite
            <br>
            <br>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th ng-repeat="n in model.timeSlotsArray">
                        Time {{n}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in selectedDates | orderBy:identity:false">
                    <div>
                    <td>
                        <a><span ng-click='model.removeFromSelected(d)' class="glyphicon glyphicon-trash" style=" font-size: 20px" aria-hidden="true"></span></a>
                    </td>
                    <td>
                        <strong>{{d | date : 'fullDate'}}</strong>
                    </td>
                    <td ng-repeat="n in model.timeSlotsArray">
                        <input class ="time-input" type="time"  class="form-control">
                    </td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
        <a href="" ng-click="model.addSlots()">Add time slot for all dates</a>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-5">
                <button ng-click="$location.url('/dateProposal')" type="reset" class="btn btn-default">Back</button>
                <button ng-click="$location.url('/settings')" type="submit" class="btn btn-primary">Next</button>
            </div>
        </div>

    </div>
</div>