

    <div class="container-fluid" align="center" ng-controller="HomeController">
        <div>
        <strong style="font-size: 50px"> <i>Just In Time </i>&nbsp;for Scheduling Events!</strong></p>
            <p style="font-size: 25px; color: #8f8f8f"><i>The Intelligent way to Plan..</i></p>
            <br>
        <button ng-click="model.event()" class="btn btn-primary" type="btn btn-primary" style="height: 50px; width: 200px">Schedule an Event</button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4">
        <div class="container-fluid">
            <i class="fa fa-calendar-check-o" style="font-size: 120px"  aria-hidden="true"></i>
            </div>
        <br>
        <div class="container-fluid">
            <table style="font-size: large">
                <tr>
                <td><span class="glyphicon glyphicon-plus" style="color: #fc6e51" aria-hidden="true"></span></td>
                <td>&nbsp;&nbsp;Schedule Events on the Go</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-plus" style="color: #fc6e51" aria-hidden="true"></span></td>
                    <td>&nbsp;&nbsp;Event Management made Easy</td>
                </tr><tr>
                <td><span class="glyphicon glyphicon-plus" style="color: #fc6e51" aria-hidden="true"></span></td>
                <td>&nbsp;&nbsp;Think. Create. Modify</td>
            </tr>
            </table>
        </div>
            </div>
            <div class="col-md-4">
        <div class="container-fluid">
        <i class="fa fa-envelope-o" style="font-size: 120px"  aria-hidden="true"></i>
        </div>
        <br>
        <div class="container-fluid">
            <table style="font-size: large">
                <tr>
                    <td><span class="glyphicon glyphicon-plus" style="color: #fc6e51" aria-hidden="true"></span></td>
                    <td>&nbsp;&nbsp;Invite people to your Event</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-plus" style="color: #fc6e51" aria-hidden="true"></span></td>
                    <td>&nbsp;&nbsp;Send Reminders</td>
                </tr><tr>
                <td><span class="glyphicon glyphicon-plus" style="color: #fc6e51" aria-hidden="true"></span></td>
                <td>&nbsp;&nbsp;See who can make it</td>
            </tr>
            </table>
        </div>
            </div>
            <div class="col-md-4">
                <div class="container-fluid">
                    <i class="fa fa-user" style="font-size: 120px"  aria-hidden="true"></i>
                </div>
                <br>
                <div class="container-fluid">
                    <table style="font-size: large">
                        <tr>
                            <td><span class="glyphicon glyphicon-plus" style="color: #fc6e51" aria-hidden="true"></span></td>
                            <td>&nbsp;&nbsp;Set one on one meetings</td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-plus" style="color: #fc6e51" aria-hidden="true"></span></td>
                            <td>&nbsp;&nbsp;Keep track of Appointments</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>